<div class="w-full py-6 px-3">
    <div class="w-full md:w-[110%] border bg-white shadow-lg rounded-2xl overflow-hidden">
        <a href="{{ product_product.url }}">
            {% if product_product.featured_image %}
            <div class="h-80 overflow-hidden">
                <img class="w-full h-full object-cover transition duration-1000 ease-in-out hover:scale-105 transform"
                    src="{{ product_product.featured_image | img_url: 'medium' }}"
                    alt="{{ product_product.featured_image.alt }}">
            </div>

            {% else %}
            {{ 'product-1' | placeholder_svg_tag: 'w-full h-full object-cover bg-gray-100' }}
            {% endif %}
        </a>

        <div class="flex flex-col p-4 text-center bg-red-900 text-white">
            <span class="text-sm pb-2">{{ product_product.vendor }}</span>

            <a href="{{ product_product.url }}" class=" uppercase font-medium pb-2">{{ product_product.title
                }}</a>

            <p class="">{{ product_product.price | money }}</p>
        </div>

    </div>
</div>