<div class="flex justify-center mb-20">
    <div class="flex flex-col mr-5">

        <div class="mb-20">
            <div class="hover:underline underline-offset-2 w-full h-80">
                <img src="{{ all_products['cameron'].featured_image.src | img_url }}" alt="Cameron Product Image" class="w-full h-full object-cover bg-gray-100 rounded-t-2xl">
                <div class="text-white hover:underline underline-offset-2 decoration-black text-center py-6 px-6">
                    <p>{{ all_products['cameron'].title }}</p>
                </div>
            </div>
            <div class="text-center bg-red-900 py-10 pt-14 px-10 rounded-b-2xl text-white">
                <p>{{ all_products['cameron'].price | money }}</p>
            </div>
        </div>



        <div class="mt-20 w-full h-80">
            <img src="{{ all_products['diana'].featured_image.src | img_url }}" alt="Diana Product Image"
                class="w-full h-full object-cover bg-gray-100 rounded-t-2xl">
            {% comment %} {{ 'product-1' | placeholder_svg_tag: 'w-full h-full object-cover bg-gray-100 rounded-t-2xl' }} {% endcomment %}
            <div class="text-center bg-red-900 py-10 px-10 rounded-b-2xl text-white">
                {{ all_products['diana'].title }}
                <p>{{ all_products['diana'].price | money }}</p>
            </div>
        </div>  
    </div>


    <div class="ml-5">
        <img src="{{ all_products['rae'].featured_image.src | img_url }}" alt="Rae Product Image"
            class="w-[750px] h-[800px] object-cover bg-gray-100 rounded-t-2xl">
        {% comment %} {{ 'product-1' | placeholder_svg_tag: 'w-[750px] h-[800px] object-cover bg-gray-100 rounded-t-2xl' }} {% endcomment %}
        <div class="text-center bg-red-900 py-10 px-10 rounded-b-2xl text-white">
            {{ all_products['rae'].title }}
            <p>{{ all_products['rae'].price | money }}</p>
        </div>
    </div>
</div>